.container {
  margin: auto;
  margin-top: 3rem;
  max-width: 1000px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.navbar {
  margin-left: 40%;
  width: 57%;
}

.banner {
  display: flex;
  justify-content: space-between;
  font-size: 30px;
  font-weight: 600;
  letter-spacing: 1px;
  margin-bottom: 30px;
  align-items: center;
}

#github {
  font-size: 1.6rem;
  color: #000;
}

@media screen and (max-width: 500px) {
  .navbar {
    margin: 0;
  }
  .navbar .banner {
    display: flex;
    width: 100%;
    flex-grow: 1;
    justify-content: space-between;
  }

  .image-grid {
    column-count: 1 !important;
    margin: auto 30px;
  }
}
