.container {
  margin: auto;
  margin-top: 3rem;
  max-width: 1000px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.banner {
  font-size: 30px;
  font-weight: 600;
  letter-spacing: 1px;
  margin-bottom: 30px;
}
